@charset 'utf-8';

/**** common ****/

.wrapper {
	width: 1200px;
  /*width: 75%;*/
	margin: 0 auto;
	position: relative;
}

.clearfix::after {
	content: ' ';
	display: block;
	clear: both;
}

body {
	color: #444;
	font-weight: lighter;
}

/**** main ****/

/** popup **/


/** header **/

#wrap {
	width: 100%;
	margin: 0 auto;
}

#header {
	position: relative;
	z-index: 9999;
	border-top: 4px solid #555;
}

#header div.lnb_bg {
  width: 100%;
	height: 40px;
}

#header ul.lnb {
	line-height: 40px;
	position: absolute;
	right: 12.5%;
}

#header ul.lnb li {
	display: inline-block;
	margin-left: 16px;
}

#header ul.lnb li a {
	font-size: 13px;
	font-size: 0.8125rem;
	color: #666;
	font-weight: normal;
}
#header div.gnb_wrap {
	width: 100%;
	height: 60px;
	position: absolute;
	top: 50px;
}

#header div.gnb_wrap h1.logo {
	position: absolute;
	top: 0;
	left: 12.5%;
	height: 60px;
}

#header div.gnb_wrap h1.logo a {
	display: inline-block;
	height: 60px;
}

#header div.gnb_wrap h1.logo a img {
	width: 100%;
}

#header div.gnb_wrap nav.gnb {
	position: absolute;
	top: 0;
	right: 12.5%;
}

#header div.gnb_wrap nav.gnb ul li {
	display: inline-block;
	padding-left: 60px;
}

#header div.gnb_wrap nav.gnb ul li a {
	font-size: 16px;
	font-size: 1rem;
	font-weight: normal;
	color: #444;
	height: 60px;
	line-height: 75px;
}


/*** visual  ***/

#visual {
	margin-top: 90px;
	height: 400px;
	width: 100%;
	background-image: url(../images/main_bg4.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto ;
	background-size: 1920px auto;
	text-align: center;
	position: relative;
}

#visual div.visual_wrapper {
	background-color: rgba(0,0,0,0.45);
	height: 400px;
}

#visual div.v_copy {
	position: absolute;
	top: 45%;
	left: 50%;
	margin-top: -48px;
	margin-left: -234px;
}

#visual div.v_copy h2.main_copy {
	font-size: 35px;
	font-size: 2.1875rem;
	color: #f6f6f6;
	margin-bottom: 25px;
	font-weight: 100;
	letter-spacing: 0.5px;
}

#visual div.v_copy h2.main_copy strong {
	font-weight: 400;
}

#visual div.v_copy p.sub_copy {
	font-size: 14px;
	text-align: center;
	color: #f6f6f6;
	line-height: 1.5em;
	font-weight: 100;
}

/* 검색창 */

#visual div#search_bar {
	position: absolute;
  top: 68%;
	left: 50%;
  width: 1000px;
  height: 54px;
  margin: 0 0 0 -500px;
  z-index: 20;
}

#visual div#search_bar h2 {
	float: left;
	width: 172px;
	height: 100%;
	background: #182a37;
	color: #f6f6f6;
	font-size: 16px;
	font-weight: normal;
	line-height: 54px;
	/*text-indent: 100px;*/
}

#visual div#search_bar fieldset {
	position: relative;
	padding: 0 353px 0 25px;
	float: left;
	background-color: rgba(255,255,255,0.7);
	width: 450px;
	height: 54px;
}

#visual div#search_bar .searchInput {
    float: left;
    width: 100%;
    padding: 54px 0;
    border: none;
    background: none;
    color: #4b4b4b;
    font-size: 14px;
		height: 54px;
}

#visual div#search_bar .inp {
	position: relative;
	top: 33%;
	background: none;
	border: none;
	margin: none;
}

#visual div#search_bar .searchBtn {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 90px;
    height: 54px;
    text-indent: -9999px;
    background: url(../images/search.png) 50% 50% no-repeat #2f4555;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    overflow: hidden;
}



/*** main contents ***/

#container div.alert {

	height: 68px;
	border-bottom: 1px solid #ddd;
}

#container div.alert ul.con {
	padding-top: 19px;
}

#container div.alert ul.con li {
	display: inline-block;
}

#container div.alert ul.con h2.tit {
	font-size: 20px;
	color: #182a37;
	font-weight: 500;
	margin-right: 18px;
}

#container div.alert ul.con h2.tit,
#container div.alert ul.con p,
#container div.alert ul.con ul,
#container div.alert ul.con ul li {
	display: inline-block;
	line-height: 30px;
}

div.alert ul.con>li {
	width: 48%;
	position: relative;
}

div.alert ul.con>li:first-child {
	margin-right: 3%;
}

div.alert ul.con ul li {
	color: #fff;
	border-radius: 50%;
	background: #879cab;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}

#container div.alert ul.con p {
	font-size: 14px;
	color: #aaa;
}

#container div.alert ul.con p.more {
	position: absolute;
	right: 0;
}

#container div.alert ul.con p.more img {
	vertical-align: middle;
}

/* notice */

#container div.notice{
	padding: 50px 0;
	position: relative;
	overflow: hidden;
}

#container div.notice div.board {
	width: 60%;
	float: left;
}

#container div.notice div.board div.tab_tit h2 {
	width: 50%;
	float: left;
	font-size: 16px;
	font-weight: 400;
	line-height: 50px;
	text-align: center;
	border: 1px solid #e0e0e0;
	box-sizing: border-box;
}

#container div.notice div.board div.tab_tit h2 a {
	color: #222;
	display: inline-block;
	width: 100%;
	background-color: transparent;
}

#container div.notice div.board div.tab_tit h2 a.active {
	background-color: #8a94a8;
	color: #fff;
}
#container div.notice div.board div.tab_tit h2:first-child {
	border-right: none;
}

#container div.notice div.board div.tab {
	padding: 25px 0;
	border: 1px solid #e0e0e0;
	border-top: none;
	box-sizing: border-box;
	font-size: 14px;
	font-size: 0.875rem;
}

#container div.notice div.board div.tab02 {
	display: none;
}

#container div.notice div.board div.tab ul.tab_lst{
	position: relative;
}

#container div.notice div.board div.tab ul.tab_lst li {
	padding-left: 30px;
	line-height: 28px;
}

#container div.notice div.board div.tab ul.tab_lst li a {
	color: #666;
}

#container div.notice div.board div.tab ul.tab_lst li a:hover {
	text-decoration: underline;
}

#container div.notice div.board div.tab ul.tab_lst li span {
	position: absolute;
	right: 0;
	padding-right: 30px;
}

#container div.notice div.board div.tab p  {
	font-size: 14px;
	font-size: 0.875rem;
	text-align: right;
	padding-right: 30px;
	font-weight: 400;
	margin-top: 20px;
}

#container div.notice div.board div.tab p a{
	color: #222;
}

/* sns */

div.snsArea div.sns {
	float: left;
	position: absolute;
	right: 0;
	width: 38%;
	height: 305px;
	border: 1px solid #e0e0e0;
	background-color: blue;
}

/* 주요서비스 */

#container div.service {
  height: 210px;
  background-color: #14293A;
  color: #f0f0f0;
  margin-bottom: 50px;
}

#container div.service div.svc {
  width: 72%;
  padding: 30px 0 0 38px;
  float: left;
}

#container div.service h2 {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 30px;
}

#container div.service div.svc span {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 200;
}

#container div.service div.svc span.svc_txt {
  padding-left: 17px;
}

#container div.service a {
  color: #f0f0f0;
}

#container div.service div.svc ul.lst {
  text-align: center;
  position: relative;
  right: 21.225px;
}

#container div.service div.svc ul.lst li {
  float: left;
  width: 14.2%;
}

#container div.service ul li a {
  display: inline-block;
  opacity: 1.0;
}

#container div.service ul li a:hover {
  opacity: 0.6;
  transition: 0.3s;
}

#container div.service div.svc img {
  width: 70px;
}

#container div.service div.svc ul.lst li a span {
  display: block;
  margin-top: 12px;
}

#container div.service div.mylib {
  float: left;
  width: 20%;
  padding: 30px 0 0 38px;
  position: relative;
}

#container div.service div.mylib ul.myLibList li {
  margin-bottom: 11px;
}

#container div.service div.mylib ul.myLibList li a img {
  height: 18px;
}

#container div.service div.mylib ul.myLibList li a span {
  padding-left: 10px;
}

#container div.service div.mylib::before {
  content: ' ';
  display: block;
  width: 1px;
  height: 160px;
  position: absolute;
  left: 0;
  background-color: #a0a0a0;
}

/* 도서추천 */

#container div.book {
  text-align: center;
  margin-bottom: 115px;
}

#container div.book ul.book_tit li h2.title {
  margin-bottom: 10px;
  position: relative;
  display: block;
  width: 20.09%;
  height: 48px;
  line-height: 48px;
  border: 1px solid #e0e0e0;
  font-weight: 400;
}

#container div.book ul.book_tit li h2.title a {
  display: inline-block;
  color: #222;
  width: 100%;
}

#container div.book ul.book_tit li h2.title span {
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  background-color: #8a94a8;
  position: absolute;
  top: 40%;
  right: -5px;
  display: none;
}

#container div.book ul.book_tit li:first-child h2.title span {
  display: block;
}

#container div.book ul.book_tit li ul {
  position: absolute;
  top: 0;
  right: 0;
  width: 79%;
  display: none;
}

#container div.book ul.book_tit li:first-child ul {
  display: block;
}

#container div.book ul.book_tit li ul li {
  float: left;
  width: 25%;
  position: relative;
  text-align: right;
}

#container div.book ul.book_tit li ul li a {
  display: inline-block;
  font-size: 14px;
  font-size: 0.875rem;
  color: #f0f0f0;
}

#container div.book ul.book_tit li ul li a img {
  border: 1px solid #eee;
  box-sizing: border-box;
  width: 166px;
  height: 222px;
}

#container div.book ul.book_tit li ul li a div.over h3.tit {
  padding-top: 48%;
}

#container div.book ul.book_tit li ul li a div.over h3.tit::after {
  content: ' ';
  display: block;
  margin: 14px auto;
  background-color: #f0f0f0;
  width: 5px;
  height: 1px;
}

/* 배너 */

#container div.banner {
  position: relative;
  /*width: 100%;*/
  height: 70px;
  border: 1px solid #ddd;
  background: #f9f9f9;
  padding-top: 11px;
  padding-left: 47px;
  box-sizing: border-box;
  margin-bottom: 50px;
}

#container div.banner ul.banner_lst {
  overflow: hidden;
  height: 45px;
}

#container div.banner ul.banner_lst li {
  float: left;
  margin-right: 18px;
}

#container div.banner p {
  position: absolute;
  top: 11px;
}

#container div.banner p.bn_prev {
  left: 10px;
}

#container div.banner p.bn_pause {
  right: 35px;
}

#container div.banner p.bn_next {
  right: 10px;
}

/* footer top */

#footer div.footer_top {
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: 500;
  height: 50px;
  background-color: #f0f0f0;
}

#footer div.footer_top ul.link01,
#footer div.footer_top ul.site_lst,
#footer div.footer_top ul.link01 li,
#footer div.footer_top ul.link02 li,
#footer div.footer_top ul.site_lst li {
  float: left;
  line-height: 50px;
}

#footer div.footer_top ul.link02,
#footer div.footer_top div.familysite {
  float: right;
  line-height: 50px;
}

#footer div.footer_top ul.link01 li a {
  display: block;
  padding: 0 10px;
  color: #888;
  background: url(../images/bgline.png) no-repeat left center;
}

#footer div.footer_top ul.link01 li a:hover {
  text-decoration: underline;
}

#footer div.footer_top ul.link01 li:first-child a {
  padding-left: 0;
  background: none;
}

#footer div.footer_top ul.link01 li.privacy a {
  color: #c66;
}
#footer div.footer_top ul.link02 li {
  margin-left: 10px;
}

#footer div.footer_top ul.link02 li a {
  line-height: 0;
  display: inline-block;
  color: #888;
  padding: 15px 25px;
  border: 1px solid #bbb;

}

#footer div.footer_top ul.site_lst {
  display: none;
}

#footer div.footer_info {
  padding: 25px 0 40px;
  overflow: hidden;
}

#footer div.footer_info h1,
#footer div.footer_info ul.info {
  float: left;
}

#footer div.footer_info h1 {
  margin-right: 24px;
}

#footer div.footer_info h1 img {
  width: 150px;
}

#footer div.footer_info ul.info li {
  font-size: 12px;
  font-size: 0.75rem;
	color: #888;
  line-height: 1.5em;
	font-weight: normal;
}

#footer div.footer_info ul.info li span {
  margin-left: 10px;
}
